# some general driver inits??
insmod=part_gpt
insmod = part_msdos
   insmod = vga
                
[Archlinux]
	name = "Arch linux"
	bootsplash = False
	initrd = "/intel-ucode.img /initramfs-linux.img"
	kernel_filename = vmlinuz
	boot_part = 0

# an average windows partition 
# [Win]
# 	name = "Windows 11"
# 	bootsplash = True
# 	chainload = False
