[Archlinux]
	name = "Arch linux"
	bootsplash = False
	initrd = "/intel-ucode.img /initramfs-linux.img"
	kernel_filename = vmlinuz
	boot_part = 0
	cmdline = "root=/dev/sda2 ro debug earlyprintk=serial,ttyS0,115200 console=tty0 console=ttyS0,115200"


# an average windows partition 
# [Win]
# 	name = "Windows 11"
# 	bootsplash = True
# 	chainload = False
